/* inter font */
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* raleway font */
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Navbar Section */
.nav-section{
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
  align-items: center;
}
.logo{
  font-size: 34px;
  font-weight: 900;
  color: #4E47FF;
}
.button{
  width: 132px;
  height: 48px;
  color: white;
  background-color: #4E47FF;
  font-weight: 700;
  padding: 12px 36px 12px 36px;
  border-radius: 10px;
}